singleuser:
  image:
    name: fknuth/pangeo-notebook
    tag: 34f709c
  cmd: ['start-singleuser.sh']
  cpu:
    limit: 1.8
    guarantee: 0.9
  memory:
    limit: 8G
    guarantee: 4G
  lifecycleHooks:
    postStart:
      exec:
        command: ["/bin/bash", "-c", "if [-f $HOME/.copied]; then git pull; else git clone https://github.com/ooi-data-review/ooi_datateam_notebooks.git | touch $HOME/.copied; fi"]
  

hub:
  extraConfig: |
    c.KubeSpawner.singleuser_service_account = 'daskkubernetes'
    c.Spawner.default_url = '/lab'
    from kubernetes import client
    def modify_pod_hook(spawner, pod):
        pod.spec.containers[0].security_context = client.V1SecurityContext(
            privileged=True,
            capabilities=client.V1Capabilities(
                add=['SYS_ADMIN']
            )
        )
        return pod
    c.KubeSpawner.modify_pod_hook = modify_pod_hook

cull:
  enabled: true
  users: false
  timeout: 1200
  every: 120

